{{ define "main" }}
    <article class="post-single">
        <h1>{{ .Title }}</h1>
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        
        {{ if .Params.image }}
        <img src="{{ .Params.image | relURL }}" class="post-image" alt="{{ .Title }} image">
        {{ end }}

        <div class="tag-list">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}#{{ . | urlize }}" class="tag" aria-label="View {{ . }} tag section">#{{ . }}</a>
            {{ end }}
        </div>

        <div class="content">
            {{ .Content | replaceRE `(?s)<h1[^>]*>.*?</h1>\s*` "" | safeHTML }}
        </div>
        {{ if .File }}
        <div class="edit-link">
            <a href="https://github.com/vorburger/blog/edit/main/{{ .File.Path }}">Edit on GitHub</a>
        </div>
        {{ end }}
    </article>
{{ end }}
