{{ define "main" }}
    <article class="post-single">
        <h1>{{ .Title }}</h1>
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        
        {{ if .Params.image }}
        <img src="{{ .Params.image | relURL }}" class="post-image" alt="{{ .Title }} image">
        {{ end }}

        <div class="tag-list">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | urlize | relURL }}" class="tag">{{ . }}</a>
            {{ end }}
        </div>

        <div class="content">
            {{ .Content }}
        </div>
        <div class="post-nav">
            <div class="post-nav-prev">
                {{ with .Prev }}
                <a href="{{ .RelPermalink }}">⬅️ {{ .Title }}</a>
                {{ end }}
            </div>
            <div class="post-nav-edit">
                {{ if .File }}
                <a href="https://github.com/vorburger/blog/edit/main/{{ .File.Path }}">Edit on GitHub</a>
                {{ end }}
            </div>
            <div class="post-nav-next">
                {{ with .Next }}
                <a href="{{ .RelPermalink }}">{{ .Title }} ➡️</a>
                {{ end }}
            </div>
        </div>
    </article>
{{ end }}
