{{ define "main" }}
    <article class="post-single">
        <h1>{{ .Title }}</h1>
        <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
        
        {{ if .Params.image }}
        <img src="{{ .Params.image | relURL }}" class="post-image" alt="{{ .Title }} image">
        {{ end }}

        <div class="tag-list">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relURL }}#{{ . | urlize }}" class="tag" aria-label="View {{ . }} tag section">#{{ . }}</a>
            {{ end }}
        </div>

        <div class="content">
            {{ .Content | replaceRE `(?s)^\s*<h1[^>]*>.*?</h1>\s*` "" | safeHTML }}
        </div>
        <div class="post-nav">
            <div class="post-nav-prev">
                {{ with .Prev }}
                <a href="{{ .RelPermalink }}"><span class="post-nav-arrow">⬅️</span><span class="post-nav-title">{{ .Title }}</span></a>
                {{ end }}
            </div>
            <div class="post-nav-edit">
                {{ if .File }}
                <a href="https://github.com/vorburger/blog/edit/main/{{ .File.Path }}">Edit on GitHub</a>
                {{ end }}
            </div>
            <div class="post-nav-next">
                {{ with .Next }}
                <a href="{{ .RelPermalink }}"><span class="post-nav-title">{{ .Title }}</span><span class="post-nav-arrow">➡️</span></a>
                {{ end }}
            </div>
        </div>
    </article>
{{ end }}
