{{ define "main" }}
    <h1>Tag: {{ .Title }}</h1>
    <div id="tag-posts">
        <div class="tag-group">
            <ul>
                {{ range .Pages }}
                <li>
                    {{ .Date.Format "2006-01-02" }} 
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
    {{ $currentPage := . }}
    {{ $allTerms := .Parent.Pages }}
    {{ $prevTerm := false }}
    {{ $nextTerm := false }}
    {{ range $i, $term := $allTerms }}
        {{ if eq $term.RelPermalink $currentPage.RelPermalink }}
            {{ if gt $i 0 }}
                {{ $prevTerm = index $allTerms (sub $i 1) }}
            {{ end }}
            {{ if lt $i (sub (len $allTerms) 1) }}
                {{ $nextTerm = index $allTerms (add $i 1) }}
            {{ end }}
        {{ end }}
    {{ end }}
    <div class="post-nav">
        <div class="post-nav-prev">
            {{ with $prevTerm }}
            <a href="{{ .RelPermalink }}"><span class="post-nav-arrow">⬅️</span><span class="post-nav-title">{{ .Title }}</span></a>
            {{ end }}
        </div>
        <div class="post-nav-edit"></div>
        <div class="post-nav-next">
            {{ with $nextTerm }}
            <a href="{{ .RelPermalink }}"><span class="post-nav-title">{{ .Title }}</span><span class="post-nav-arrow">➡️</span></a>
            {{ end }}
        </div>
    </div>
{{ end }}
